{% extends 'base.html' %}
{% load static %}


{% block heading %}Products and Services {% endblock heading %}

{%  block breadcrumbs %} <li>Products and Services</li> {% endblock %}


{% block inner-content %}
<section class="bg-white service-tab">
   <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>Business Consulting</h2>
                <p>
                    Also referred to as a congressman or congresswoman, each representative is elected to a 
                    two-year term serving.
            </p>
            </div>
            <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-duration="2s">
                <img src="{% static 'images/ad_4.jpg' %}" alt="">
            </div>
        </div>
   </div>
</section>
<section class="bg-primary service-tab">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 wow fadeInLeft" data-wow-duration="2s" style="text-align: center;">
                <img src="{% static 'images/ad_6.jpg' %}" alt="">
            </div>
            <div class="col-md-6 col-sm-12">
                <h2>Conference Management</h2>
                <p>
                   The major trends are in the travel we offer and give with the best of interest attached.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="bg-grey service-tab">
    <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>General Business Coaching</h2>
                    <p>
                        Also referred to as a congressman or congresswoman, each representative is elected to a 
                        two-year.
                </p>
                </div>
                <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-duration="2s">
                    <img src="{% static 'images/ad_3.jpg' %}" alt="">
                </div>
            </div>
    </div>
</section>
<section class="bg-info service-tab">
    <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-duration="2s">
                    <img src="{% static 'images/ad_5.jpg' %}" alt="">
                </div>
                <div class="col-md-6 col-sm-12">
                    <h2>Travel/Visa Support</h2>
                    <p>
                        Also referred to as a congressman or congresswoman, each representative is elected to a 
                        two-year.
                    </p>
                </div>
            </div>
    </div>
</section>
<section class="bg-white service-tab">
        <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <h2>Abroad Study Support</h2>
                        <p>
                            Also referred to as a congressman or congresswoman, each representative is elected to a 
                            two-year.
                    </p>
                    </div>
                    <div class="col-md-6 col-sm-12 wow fadeInRight" data-wow-duration="2s">
                        <img src="{% static 'images/ad_3.jpg' %}" alt="">
                    </div>
                </div>
        </div>
    </section>
{% endblock inner-content %}
    