{% extends 'index.html' %}
{% load static %}

{% block slider %}
<div style="height: 150px;"></div>
<div class="container">
    <div class="col-md-12" style="text-align: center;">
        <h2>Hear It From the FOUNDER</h2>
        <h4>...The Humble Story</h4>
    </div>
</div>
<hr>
{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="col-md-8">
            <div style="text-align: justify;">
                <p>GNI was born out of my love for solving critical problems. I used to get myself into big troubles and plan to effectively get out of it safe and secure. It got to a point when I began to value group work. People working together to solve individual and organizational problems.  
                There are lots of issues we have solved for organizations especially in improving their sales and motivating the marketing divisions to do better.  We improve sales, hold down our client’s digital marketing, coordinate their newsletters and do a consistent follow up on clients. We scout for new business for our clients and keep them informed at all times. At GNI we work with our clients as employees. We understand the organization and deliver quite on time.
                </p>
                <p>
                    When it comes to individual business coaching, we do it best because we like to catch your ideas young and walk you through developing it into a reality.
                </p>
                <p>
                    We have the passion for solving critical problems and we have consistently inspired lives.
                </p>
                
                <p>
                    We are the best in the travel and tourism industry because we offer to our clients what they really want in terms of Holidays and travel packages.
                </p>
                <p>
                    We have also discovered that parents whose children are studying abroad do not follow up with their children’s school records. At GNI we keep the records of your child when the admission is processed from our portals. We ensure that you get copies of His/hers result and we keep records of their activities while abroad.
                </p>
                <p>
                    GNI offers counselling section to students in High schools. We get to meet each child, understand the child, follow up His/her progress at school and better inform the child and the parents in the best area of focus for their children. Parents have always forced their children to take up professional courses not understanding the child’s interest and ability. This is a great global issue and we at Grin Net Innovations have started to tackle this problem.  Institutions are welcomed to subscribe to this service and let their children be properly groomed for the next level.
                    Do not forget to always attend our empowerment conferences.
                </p>
                
                <p>
                    <em>GNI Inspiring Lives.</em>
                </p>
            </div>
        </div>
        <div class="col-md-4" style="position: relative;">
            <img class="img-circle" src="{% static 'images/grin.jpg' %}" alt="" height="200" width="200" style="position: absolute; right: 30px; top: 150px; padding: 10px; border: 2px solid rgb(5, 106, 131);">
        </div>
    </div>
</section>
{% endblock %}